<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>

<body>
    <nav>
        <ul>
            <li> <a href="/clothes">clothes</a>></li>
            <li> <a href="/jackets">jackets</a>></li>
            <li> <a href="/shoes">shoes</a>></li>
        </ul>
    </nav>
    <header>
        {% block content %} {% endblock %}
        <p> Cost: {% block cost %} {% endblock %}</p>
    </header>
    <footer>
        <p> This is my first base html file. Do not judge strictly. </p>
    </footer>
</body>

</html>
